body{
  padding:0;
  margin:0;
  background-color:#0A0A0A;
  font-family:Poppins,Arial;
  align-items:center;
}
h2{
  margin:0;
  color: #33A852;
}
.navbar{
 display:flex;
 background-color:#1A1A1A;
 height:80px;
 padding:10px 20px;
 align-items:center;
 justify-content:space-between;
}
.navleft{
  justify-content:center;
  display:flex;
  font-family:Poppins,Arial;
  gap:20px;
}
.navright{
  display:flex;
  gap:30px;
  margin-right:30px;
}
h1{
  color:white;
}
.name{
  color:#33A852;
}
a{
  font-family:Poppins,Arial;
  color:white;
  text-decoration: none;
  font-weight:700;
  margin-bottom:2px;
}
.navright a:hover{
  text-decoration:underline;
  text-decoration-color:rgb(183, 3, 215);
  cursor:pointer;
}
.home {
  color:#33A852;
}
.logo{
  width:30px;
  height:30px;
}
.picinfo{
  display:flex;
  flex-direction:row;
  margin-top:100px;
}
.me{
  height:100%;
}
.imgryt{
  display:flex;
  flex-direction:column;
  margin-left:20px;
}
.imgryt h3{
  color:#D1D5DB;
  margin:0;
  line-height:35px;
}
.resume,.send{
  background-color:#33A852;
  padding:10px 24px 10px 24px;
  color:white;
  margin-right:20px;
  border:none;
  border-radius:4px;
}
.hire{
  padding:10px 24px 10px 24px;
  color:white;
  border:1.5px solid #33A852;
  border-radius:4px;
  background-color:black;
}
.but{
  margin-top:20px;
}
.aboutme,.ed,.rec,.last{
  margin-left:80px;
  color:#D1D5DB;
  margin-bottom:70px;
}
.aboutme p{
  color:#D1D5DB;
  width:900px;
}
.ed1,.ed2{
  background-color:#1A1A1A;
  height:160px;
  padding:18px 5px 10px 20px;
  width:350px;
  border-radius:10px;
  border-top:#33A852 solid 4px;
}
.ed p{
  margin:0;
  line-height:28px;
  border-top:#33A852;
  border-width:5px;
}
.ed h3{
  color:white;
  margin:0;
}
.ed2{
  margin-right:50px;
}
.proj{
  margin-left:80px;
  margin-bottom:50px;
}
.list p{
  margin-left:30px;
}
.project-row{
  margin-left:50px;
  display:flex;
  flex-direction:row;
  gap:20px;
  margin-top:20px;
}
.project{
  display:flex;
  flex-direction:column;
  background-color:#1A1A1A;
  height:300px;
  width:250px;
  border-radius:10px;
  border-top:#33A852 4px solid;
  padding: 10px 5px 10px 5px;
  align-items:center;
}
.pimg{
  background-color: #797777;
  height:100px;
  width:150px;
}
.project h3 {
  white-space:nowrap;
  margin-top:5px;
  margin-bottom:10px;
  color:#33A852;
}
.project p{
  margin:0;
  line-height:20px;
  color:#D1D5DB;
  margin-left:20px;
}
.rec h2{
 color:#33A852;
 margin-bottom:10px;
}
.rec{
  color:#D1D5DB;
  margin-bottom:100px;
}
.rec-info{
  width:800px;
  height:150px;
  margin-left:30px;
  border:#33A852 solid 1px;
  border-radius:4px;
  padding:20px;
}
.fb,.tw,.ig,.mail{
  width:25px;
  height:25px;
}
.last{
  display:flex;
  flex-direction:row;
  height:300px;
  justify-content:space-between;
}
.icons{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.lastright{
  margin-right:250px;
  padding-top:20px;
}
.lastright p{
  font-size:12px;
  line-height:45px;
  font-weight:bold;
  color:#D1D5DB;

}